run = "./gradlew run"

[nix]
channel = "stable-21_11"

[workflows]
runButton = "Spring Boot Run"

[[workflows.workflow]]
name = "Spring Boot Run"
author = 44741966
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew :wellb-front:bootRun --stacktrace --info"

[[ports]]
localPort = 8080
externalPort = 80
