<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="flex-center">
        <div class="card form-container">
            <h2 class="text-center text-primary" style="margin-bottom: 1.5rem; border-bottom: 2px solid #3498db; padding-bottom: 0.5rem;">
                로그인
            </h2>

            <form th:action="@{/user/login}" method="post">
                <div class="form-group">
                    <label for="username" class="form-label">사용자명:</label>
                    <input type="text" id="username" name="username" required class="form-input">
                </div>

                <div class="form-group">
                    <label for="password" class="form-label">비밀번호:</label>
                    <input type="password" id="password" name="password" required class="form-input">
                </div>

                <button type="submit" class="btn btn-primary" style="width: 100%;">로그인</button>
            </form>

            <div class="text-center link-group">
                <a th:href="@{/}">홈으로</a>
                <a th:href="@{/user/}">사용자 관리</a>
            </div>
        </div>
    </div>
</div>
</html>