
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="text-center">
        <h1 class="title text-primary" th:text="${message}">Welcome to Wellb Front!</h1>
        
        <div class="card card-center">
            <p class="subtitle">
                Wellb Application.
            </p>
            
            <div style="display: flex; gap: 1rem; justify-content: center; flex-wrap: wrap;">
                <a th:href="@{/user/auth/login}" class="btn btn-primary">사용자 앱</a>
                <a th:href="@{/admin/auth/login}" class="btn" style="background-color: #e74c3c; color: white;">관리자 페이지</a>
            </div>
        </div>
    </div>
</div>
</html>
